node_modules/
!server/node_modules/**/*
server/node_modules/grunt*/***/*
#client/src/bower_components/**/*
#!client/src/bower_components/bootstrap/dist/**/*
.sass-cache
.DS_Store
client/src/.buildignore
client/src/.htaccess
.editorconfig
.gitattributes
.idea/
.jshintrc
server/node_modules/grunt-cli/
.bin
client/src/bower_components/
